/* main CSS features */

body {
    background-color:#0d6efd !important;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* CSS for aboutme.html */

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* CSS for schedule.html */

.photo-right {
    align-content: center !important;
}



/* CSS for media.html */

video {
    margin-bottom: 20px !important;
    margin-left: 160px !important;
   
}


figcaption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* CSS for studio.html */

form {
    margin-left: 15%;
    margin-right: 15%
}

 


