

.photo-right {
    align-content: center !important;
}





video {
    margin-bottom: 20px !important;
    margin-left: 160px !important;
   
}

body {
    background-color:#0d6efd !important;
    text-align: center;
    font-family: 'Oleo Script Swash Caps';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

form {
    margin-left: 15%;
    margin-right: 15%
}

 

.img-fluid {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

figcaption {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}