//** Nav bar Sass**//

--#{$prefix}.navbar-padding-x #{if($navbar-padding-x == null, 0, $navbar-padding-x)}
--#{$prefix}.navbar-padding-y #{$navbar-padding-y}
--#{$prefix}.navbar-color #{$navbar-light-color}
--#{$prefix}.navbar-hover-color #{$navbar-light-hover-color}
--#{$prefix}.navbar-disabled-color #{$navbar-light-disabled-color}
--#{$prefix}.navbar-active-color #{$navbar-light-active-color}
--#{$prefix}.navbar-brand-padding-y #{$navbar-brand-padding-y}
--#{$prefix}.navbar-brand-margin-end #{$navbar-brand-margin-end}
--#{$prefix}.navbar-brand-font-size #{$navbar-brand-font-size}
--#{$prefix}.navbar-brand-color #{$navbar-light-brand-color}
--#{$prefix}.navbar-brand-hover-color #{$navbar-light-brand-hover-color}
--#{$prefix}.navbar-nav-link-padding-x #{$navbar-nav-link-padding-x}
--#{$prefix}.navbar-toggler-padding-y #{$navbar-toggler-padding-y}
--#{$prefix}.navbar-toggler-padding-x #{$navbar-toggler-padding-x}
--#{$prefix}.navbar-toggler-font-size #{$navbar-toggler-font-size}
--#{$prefix}.navbar-toggler-icon-bg #{escape-svg($navbar-light-toggler-icon-bg)}
--#{$prefix}.navbar-toggler-border-color #{$navbar-light-toggler-border-color}
--#{$prefix}.navbar-toggler-border-radius #{$navbar-toggler-border-radius}
--#{$prefix}.navbar-toggler-focus-width #{$navbar-toggler-focus-width}


//** Home page Carousel Sass**//

$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .1s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out;  // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)


body {
    font-family: 'Oleo Script Swash Caps';
    margin: 0 auto;
    width: 960 px;
}

footer {
    margin: 40px 0;
}

footer nav a:link,
footer nav a:visited {
    color: gray;
    text-decoration: none;
    display: block;
    width: 160px;
    text-align: center;
    background-color: white;
}

footer nav a:hover {
    color: black;
}